@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

// layout
$mobile: 375px;
$desktop: 1440px;

// Primary Colors
$blue: hsl(246, 80%, 60%);

$Work: hsl(15, 100%, 70%);
$Play: hsl(195, 74%, 62%);
$Study: hsl(348, 100%, 68%);
$Exercise: hsl(145, 58%, 55%);
$Social: hsl(264, 64%, 52%);
$Self-care: hsl(43, 84%, 65%);

// Secondary Colors
$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);

// Main Font
$Font-ligth: 300 18px "Rubik", sans-serif; //(card titles e.g. Work, Play);

$Font-regular: 400 18px "Rubik" sans-serif;
$Font-medium: 500 18px "Rubik" sans-serif;
